body, html {
  height: 100%;
  margin: 0;
}

/*.bgimage {
  background-image: url("assets/log-love-2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.page-content {
  position: relative;
  min-height: 100vh;
}

.jumbotron {
  color: white;
  background-image: url("assets/forest-pine-trees.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron h1 {
	color: white;
	text-shadow: 2px 2px #333;
}

.jumbotron h2 {
	color: white;
}

#headerNavbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

#title {
	margin-top: -50%;
	position: center;
}

.title-main {
  font-family: 'Parisienne', cursive;
}
.sub-title {
  font-family: 'EB Garamond', serif;
  text-shadow:
		2px 2px #333;
}

h1, h3, p {
  font-family: 'EB Garamond', serif;
}

p {
  font-size: 14pt;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}