body, html {
  height: 100%;
  margin: 0;
}

.page-content {
  position: relative;
  min-height: 100vh;
}

.jumbotron {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron-main {
  background-image: url("https://drive.google.com/uc?id=1m_QRAyISis0ZMNYCS-kjTZWcU7ieuS5n");
}

.jumbotron-our-story {
  background-image: url("https://drive.google.com/uc?id=1vb_ToWIWHAp7NOxBLJBi3Why1xm94Ew7");
}

.jumbotron-details {
  /*background-image: url("https://drive.google.com/uc?id=1CeXLCqxdu8V0QtD-uMqVurrh3IpUzCl7");*/
  /*background-image: url("https://drive.google.com/uc?id=13EZa7KrXSaIxvPT-SEOt3-WPR6iWOiH1");*/
  background-image: url("assets/barak-eating-snow-min.jpg")
}

.jumbotron h1 {
	color: white;
	text-shadow: 2px 2px #333;
}

.jumbotron h2 {
	color: white;
}

#headerNavbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

#title {
	margin-top: -50%;
	position: center;
}

.title-main {
  font-family: 'Parisienne', sans-serif;
}

.sub-title {
  font-family: 'EB Garamond', serif;
  text-shadow:
		2px 2px #333;
}

h1, h2, h3, h4, p {
  font-family: 'EB Garamond', serif;
}

p {
  font-size: 14pt;
}

.details-div h2, .details-div h3, .details-div p{
	text-align: center;
}

.details-div ul {
	text-align: center;
	list-style: none;
}

.details-div a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width-image {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
}

.footer {
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}